# dependencies
/node_modules
**/node_modules

# testing
/coverage
/.nyc_output

# builds
/build
**/build
**/dist

# caches
.cache
.parcel-cache
.yarn
**/.vite
.pnpm-store/
.vitest

# sony contract local runtime artifacts
.sony-contract/

# misc
.DS_Store
.vscode
