.app-parent {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.app-list {
  padding-left: 15px;
  padding-right: 15px;
  width: 425px;
}

.app-header {
  color: red;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.app-list a {
  text-decoration: none;
}
