.game-item a {
  color: #000;
}

.game-item__container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.game-item > div {
  display: inline-block;
}

.game-item__image {
  width: 40%;
  img {
    width: 100%;
  }
}
.game-item__description {
  width: 60%;
  padding-left: 5%;
}
.game-item__title {
  font-weight: 600;
  display: inline-block;
  font-size: 0.875em;
  padding: 3px 0;
  
}
.game-item__text {
  font-size: 0.75em;
  line-height: 1.65em;
}
.game-item__text--small {
  font-size: 0.6em;
}
.game-item__text--footer {
  margin-top: 10px;
  font-size: 0.6em;
}
.game-item__text--highlight {
  font-weight: bold;
  color: red;
}

