.gametable {
  display: table;
  table-layout: auto;
  width: 100%;
}

.gamerow {
  height: 65px;
  border-radius: 2px;
}

.gamerow:hover {
  background: #f0f0f0;
}

.gamecell {
  display: table-cell;
  vertical-align: top;
}

.separator a {
  color: inherit;
  text-decoration: none;
}

.separator {
  padding: 3px;

  border-bottom: 1px solid #f8f8f8;
}

.image img {
  width: 65px;
  height: 65px;
  border-radius: 2px;
}

.name,
.date {
  padding-top: 3px;
  padding-right: 3px;
  line-height: 1.3;
}

.name {
  width: 100%;
  padding-left: 8px;
}

.date {
  width: 100px;
  text-align: right;
}

.price {
  color: #d0d0d0;
}
