.games--content {
  padding: 65px 15px 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
}

.games--selected {
  border: 2px solid rgb(255 0 0);
}

.games--filter-navi {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: -30px;
}

.games--filter-name {
  background-color: #94bcdf;
  border-radius: 10px;
  color: #2e2b2b;
  font-size: 18px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
