.screenshots {
  margin-top: 50px;
  padding: 15px;
}

.screenshots--top {
  display: flex;
}

.screenshots--buy {
  background-color: rgb(0 0 255);
  color: rgb(255 255 255);
  height: 40px;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
  box-shadow: 2px 2px #333;
  border-radius: 5px;
}

.screenshots--header {
  color: inherit;
  padding-bottom: 10px;
  font-size: 30px;
  flex-grow: 1;
}

.screenshots--subheader {
  color: inherit;
  opacity: 0.6;
  padding-bottom: 5px;
  font-size: 20px;
}

.screenshots--price {
  color: inherit;
  opacity: 0.2;
  padding: 5px 0;
  font-size: 20px;
}

.screenshots--description {
  opacity: 0.8;
  padding-top: 20px;
  font-size: 20px;
}

.screenshots--images {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
}

.screenshots--tile {
  width: 600px;
  padding: 1px 2px;
  flex-grow: 1;
}
