.spinner--modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 50;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    visibility: visible;
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1.5s infinite linear;
  animation-delay: 300ms;
  display: inline-block;
  visibility: hidden;
  content: '';
  border-radius: 50%;
  transform: translateZ(0);
  box-sizing: border-box;
  background: none;
  width: 60px;
  height: 60px;
  border: 3px solid rgb(0 0 0 / 30%);
  border-left-color: #363738;
  border-width: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
}
