.screenshots-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.screenshots-name {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
}

.screenshots-byline {
  color: #555;
  padding-bottom: 20px;
}

.screenshots-description {
  color: #aaa;
  padding-top: 20px;
  max-width: 425px;
}
