.screenshots-modal {
  background-color: #000;
}

.screenshots-modal img {
  width: 100%;
}

.screenshots-buy {
  background-color: blue;
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
  box-shadow: 2px 2px #333;
  border-radius: 5px;
}

.screenshots-name {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
}

.screenshots-byline {
  color: #aaa;
  padding-bottom: 20px;
  font-size: 20px;
}

.screenshots-description {
  color: #aaa;
  padding-top: 20px;
  max-width: 425px;
  font-size: 20px;
}

.screenshots-top {
  width: 100%;
  display: flex;
}

.screenshots-top-right {
  margin: 20px;
  text-align: right;
  flex-grow: 1;
}
