* {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: rgb(0 0 0);
  --main-border-color: rgb(216 216 216);
  --main-bg-color: rgb(255 255 255 / 95%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: rgb(255 255 255);
    --main-border-color: rgb(48 48 48);
    --main-bg-color: rgb(0 0 0 / 95%);
  }
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}
