.games--content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.games--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 250px));
  gap: 10px;
}
