.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid var(--main-border-color);
  background: var(--main-bg-color);
  display: flex;
  flex-flow: row nowrap;
  z-index: 100;
  padding: 0 5px;
}

.navigation--link {
  color: inherit;
  font-size: 18px;
  text-decoration: none;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation--active {
  color: rgb(255 0 0);
}
